<%- include('partials/header') %>
<h1>Partners:</h1>
	<div class="container-fluid">
		<% data.forEach(function(partner){ %>
		<div class="row">
			<div class="col-4">
				<ul>
					<li><p>Partner first Name :<%= partner.firstName %></p></li>
					<li><p>Partner last Name :<%= partner.lastName %></p></li>
					<li><p>Partner Age :<%= partner.age %></p></li>
					<li><p>Partner Gender :<%= partner.gender %></p></li>
					<li><p>Partner Education :<%= partner.education %></p></li>
					<li><p>Partner Place :<%= partner.place %></p></li>
					<li><p>Form Date :<%= partner.date %></p></li>
					<li><p>Signature : 
						<img class="signature"src="<%= partner.signature %>">
						</p>
					</li>
				</ul>
			</div>
			<div class="col-4">
				<ul>
					<li><p>Occupation :<%= partner.occupation %></p></li>
					<li><p>Business :<%= partner.business %></p></li>
					<li><p>eFrendy Partner:<%= partner.eFrendyPartner %></p></li>
					<li><p>smartPhone :<%= partner.smartPhone %></p></li>
					<li><p>Payment Mode :<%= partner.payment %></p></li>
					<li><p>Have a joint family :<%= partner.jointFamily %></p></li>
					<li><p>owns a flat:<%= partner.flat %></p></li>
					<li><p>staying in rented house :<%= partner.How_long_you_have_been_staying_in_the_house %></p></li> 
				</ul>
			</div>
			<div class="col-4">
				<ul>
					<li><p>Society has :<%= partner. Does_your_society_has %></p></li>
					<li><p>number of flats in buildings :<%= partner.If_flats_how_many_flats %></p></li>
					<li><p>number of buildings<%= partner.how_many_such_buildings %></p></li>
					<li><p>Total flats/houses:<%= partner.total_flats_or_houses %></p></li>
					<li><p>Has a common whatsapp group ?:<%= partner.have_a_whatsapp_group_for_residents %></p></li>
					<li><p>Has a common communication platform ? :<%= partner.have_a_common_communication_platform_for_residents %></p></li>
				</ul>
			</div>
			<ul>
				<li><p>I hereby confirm that I have read and understood the terms &
                        conditions
                        shared with me and apply to become a Partner at Frendy (Areli Commerce Pvt Ltd). : 
					<%= partner.terms_and_conditions1 %></p></li>
				<li><p>I agree to
                        abide by the terms, conditions, rules, regulation and other statutory requirements applicable to
                        the
                        respective company.: <%= partner.terms_and_conditions2 %></p></li>
				<li><p>I have understood my roles and responsibilities as a Frendy Partner and the expectations from me.: 
					<%= partner.terms_and_conditions3 %></p></li>
			</ul>
			
			<hr>
		</div>
		<hr/>
		<% }) %>
	</div>

<%- include('partials/footer') %> 